/* EcrireUneRecette.scss */
/* Styles pour le formulaire */
.form-container {
    text-align: center;
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #ffff;
    border-radius: 5px;
  }

  .ingredient-container {
      display: flex;
      align-items: center;  /* Centre les éléments verticalement */
      justify-content: center; /* Répartit l'espace entre l'input et l'icône */
  }

  .task-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
    
  
  
  /* Styles pour les titres */
  .form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Styles pour les libellés (labels) */
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    flex: 1;  /* Permet au label (et à son input enfant) de grandir et de prendre autant d'espace que possible */
    margin-right: 10px; /* Ajoutez un peu d'espace entre l'input et l'icône poubelle */
  }

  
  /* Styles pour les champs de texte (inputs) */
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #E9EDC9;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    color: #333;
  }
  
  /* Styles pour les boutons radio (radio inputs) */
  .form-radio {
    display: inline-block;
    margin-right: 10px;
  }
  
  /* Styles pour les boutons radio (radio inputs) */
  .form-radio label {
    display: inline-block;
    font-weight: normal;
    margin-right: 10px;
    color: #333;
  }
  
  /* Styles pour les boutons radio (radio inputs) */
  .form-radio input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #E9EDC9;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
  }
  
  /* Styles pour les boutons radio sélectionnés (radio inputs checked) */
  .form-radio input[type="radio"]:checked {
    background-color: yellow;
  }

  

    .button-validate {
        width: 140px;
        height: 30px;
        margin-bottom: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        background-color: #F79D65;
        border-style: none;
        border-radius: 1px;
        box-shadow: none;
        text-decoration: none;
        border-radius: 50px;
    }
       
    
    

  