.card {
  border: 1px solid #ccc;
  border-radius: 0px;
  transition: 0.3s;

  .card-img {
    border-radius: 0px;
    filter: brightness(100%); // Ajustez le pourcentage pour augmenter la luminosité
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card-img-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .card-title {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      color: #66CC33;
    }
  }
}
