.container {
    background-color: #E9EDC9;
    margin-top: 40px;

    ul {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

        .container-avatar {
            display: flex;
            flex-direction: row;

            .container-name {
                flex-direction: column;

                .title {
                    color: #F79D65;
                    margin-left: 1em;
                    font-weight: bold;
                    font-size: 16px;
                }
    
                .bienvenue {
                    margin-left: 1em;
                    color: #495057;
                    font-weight: 600;
                }

            }
    
            .circle {
                background-color: #F79D65;
                width: 60px;
                height: 60px;
            }
        }

        .collection-item-avatar {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 1em;
            margin-left: 3em;

            .icon-avatar {
                color: #F79D65;
                font-size: 20px;
                margin-right: 5px;
            }
        
            .collection-item-avatar li {
                color: #495057;
                font-weight: 400;
            }

            li {
                padding-bottom: 1em; 
            }

            .link-without-style {
                text-decoration: none;
                color: #495057;
            }

            #recettes-preferees {
                margin-left: 0.4em;
            }

            #aliments-testes {
                margin-right: 1.3em;
            }

        }       
        
    }
}
