.container {
    background-color: greenyellow;
    width: 50%;

    ul {
        background-color: pink;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .container-avatar {
            display: flex;
            flex-direction: row;

            .container-name {
                flex-direction: column;

                .title {
                    color: red;
                    margin-left: 1em;
                }
    
                .bienvenue {
                    margin-left: 1em;
                }

            }
    
            .circle {
                background-color: #F79D65;
                width: 60px;
                height: 60px;
            }
        }
    
        .collection-item-avatar li {
            color: red;
            margin-left: 5em;
            padding: 0.3em;
        }
    }
}
