.card {
  display: flex;
  justify-content: space-between;
}

/* Assurez-vous que les styles de la carte restent inchangés ici */
.card-body {
  background-color: #F8EDEB;
  opacity: 0.9;
}

.card-title {
  font-size: 18px;
  color: #333;
}

.btn-primary {
  background-color: #F79D65;
  border-color: #F79D65;
}



  