.large-button {
  display: inline-block;
  width: 10em;
  height: 3em;
  background-color: #FFB5A7; /* Changez cela en fonction de votre palette de couleurs */
  color: #343a40;/* Changez cela en fonction de votre palette de couleurs */
  font-weight:700;
  border: none;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.large-button:hover {
  background-color: #4CAF50; /* Changer cela en fonction de votre palette de couleurs */
  color: white;
}

  