$color-ocean: #416dea;
$borderRadius: 36px;
$font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.large-button {
  color: $color-ocean;
  border-radius: $borderRadius;
  font-family: $font-face;
}
  