.burger-menu {
    display: flex;
    justify-content: flex-end;

    .burger-icon {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 2rem;
        height: 2rem;
        background: transparent;
        border: none;
        padding: 0;
        z-index: 10;

        .bar {
            width: 2rem;
            height: 0.25rem;
            background-color: #333;
            transition: all 0.3s linear;
            position: relative;
            transform-origin: 1px;
        }
    }
}

    .burger-icon.open {
      .bar:nth-child(1) {
        transform: rotate(45deg);
        top: 0;
      }
  
      .bar:nth-child(2) {
        opacity: 0;
      }
  
      .bar:nth-child(3) {
        transform: rotate(-45deg);
        top: 0;
      }
    }
  
    .menu-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        background: #eee;
        width: 70%;
        max-width: 400px;
        height: 100vh;
        position: fixed; // Passer de 'absolute' à 'fixed' pour prendre tout l'écran
        top: 0;
        right: 0;
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%); // change -100% à 100%
        padding: 2rem;
      
        &.open {
          transform: translateX(0); // reste le même
        }
  
      li {
        padding: 1rem 0;
        a {
          color: #333;
          text-decoration: none;
          font-size: 1.5rem;
          transition: color 0.3s linear;
          &:hover {
            color: #888;
          }
        }
      }
    }

  