.star-rating {
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
  
    label {
      cursor: pointer;
  
      input {
        display: none;
      }
  
      i {
        font-size: 18px;
        transition: color 0.3s ease;
  
        &:hover {
          color: #ffc107;
        }
      }
    }
  }

  