.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin: 0;
  }
  
  /* Ajoutez d'autres styles CSS au besoin */
  